In [1]:
!pip install numpy

Requirement already satisfied: numpy in c:\users\deepa\anaconda3\lib\site-packages (1.26.4)

In [2]:
import numpy as np
a= np.random.randint(100,500,(30,5))
avg_a = np.mean(a, axis = 0)
print(f'Average Stock prices: {avg_a}')


max_a = np.max(a)
row_index, col_index = np.where(a == max_a)
print(f'Highest price recorded : {max_a} at Day {row_index[0]+1}, company {col_index[0]+1}')

min_prices = np.min(a, axis=0)
max_prices = np.max(a, axis=0)
normalized_prices = (a - min_prices) / (max_prices - min_prices)
print(f'Normalised prices: {normalized_prices}')
risk = a[a<200]
for i in risk:
    r_index,c_index = np.where(a == i)
    print( f'Risky Investment on Day: {r_index[0]+1} of Investment: {i}, by company {c_index[0]+1}')

Average Stock prices: [269.76666667 283.9        305.23333333 352.23333333 295.3       ]
Highest price recorded : 498 at Day 2, company 2
Normalised prices: [[0.3133515  0.58701299 0.00288184 0.60422164 0.81117021]
 [0.82833787 1.         0.14121037 0.81794195 0.60904255]
 [0.65122616 0.71168831 0.3054755  0.80474934 0.6037234 ]
 [0.17711172 0.52727273 0.55907781 1.         0.        ]
 [0.         0.86493506 0.28242075 0.9525066  0.46542553]
 [0.73569482 0.12727273 0.36311239 0.55672823 0.83244681]
 [0.76294278 0.63116883 0.8962536  0.28759894 0.36702128]
 [0.75476839 0.83376623 0.83861671 0.5171504  0.08510638]
 [0.02179837 0.25974026 0.4610951  0.69129288 0.35638298]
 [0.42506812 0.04935065 0.71757925 0.55672823 0.10638298]
 [0.3760218  0.03376623 0.33429395 0.90501319 0.86968085]
 [0.54223433 0.12207792 0.11527378 0.88390501 0.73138298]
 [0.29155313 0.2        0.72910663 0.60422164 0.39361702]
 [0.29972752 0.43376623 0.09510086 0.72823219 0.39095745]
 [0.09536785 0.24415584 0.95677233 0.70976253 0.19148936]
 [0.33787466 0.41818182 0.99423631 0.70448549 0.21542553]
 [0.46321526 0.56883117 0.63112392 0.8944591  0.23138298]
 [1.         0.75064935 0.1815562  0.75461741 0.83510638]
 [0.38692098 0.97662338 0.28530259 0.72823219 0.30319149]
 [0.64577657 0.42337662 0.28530259 0.41424802 0.95478723]
 [0.14168937 0.26493506 1.         0.05013193 0.96542553]
 [0.73024523 0.         0.30259366 0.00527704 0.61702128]
 [0.08991826 0.02077922 0.3314121  0.34300792 0.28457447]
 [0.37057221 0.68831169 0.26224784 0.82849604 0.53191489]
 [0.24523161 0.32987013 0.         0.49604222 0.3643617 ]
 [0.92643052 0.43376623 0.41210375 0.93931398 1.        ]
 [0.07356948 0.42337662 0.78962536 0.823219   0.50531915]
 [0.72207084 0.61818182 0.76080692 0.59366755 0.21542553]
 [0.64305177 0.54805195 0.94524496 0.         0.13829787]
 [0.08991826 0.22597403 0.65129683 0.66226913 0.56914894]]
Risky Investment on Day: 1 of Investment: 137, by company 3
Risky Investment on Day: 2 of Investment: 185, by company 3
Risky Investment on Day: 4 of Investment: 174, by company 1
Risky Investment on Day: 4 of Investment: 113, by company 5
Risky Investment on Day: 5 of Investment: 109, by company 1
Risky Investment on Day: 6 of Investment: 162, by company 2
Risky Investment on Day: 8 of Investment: 145, by company 5
Risky Investment on Day: 9 of Investment: 117, by company 1
Risky Investment on Day: 10 of Investment: 132, by company 2
Risky Investment on Day: 10 of Investment: 153, by company 5
Risky Investment on Day: 11 of Investment: 126, by company 2
Risky Investment on Day: 12 of Investment: 160, by company 2
Risky Investment on Day: 12 of Investment: 176, by company 3
Risky Investment on Day: 13 of Investment: 190, by company 2
Risky Investment on Day: 14 of Investment: 169, by company 3
Risky Investment on Day: 15 of Investment: 144, by company 1
Risky Investment on Day: 2 of Investment: 185, by company 3
Risky Investment on Day: 16 of Investment: 194, by company 5
Risky Investment on Day: 18 of Investment: 199, by company 3
Risky Investment on Day: 21 of Investment: 161, by company 1
Risky Investment on Day: 21 of Investment: 133, by company 4
Risky Investment on Day: 4 of Investment: 113, by company 5
Risky Investment on Day: 22 of Investment: 116, by company 4
Risky Investment on Day: 23 of Investment: 142, by company 1
Risky Investment on Day: 23 of Investment: 121, by company 2
Risky Investment on Day: 18 of Investment: 199, by company 3
Risky Investment on Day: 25 of Investment: 136, by company 3
Risky Investment on Day: 25 of Investment: 136, by company 3
Risky Investment on Day: 16 of Investment: 194, by company 5
Risky Investment on Day: 29 of Investment: 114, by company 4
Risky Investment on Day: 29 of Investment: 165, by company 5
Risky Investment on Day: 23 of Investment: 142, by company 1

In [101]:
import numpy as np
arr = np.random.randint( 0,50, (6,3))
total = np.sum(arr, axis = 0)
print(f'Total resources needed (tons): Oxygen: {total[0]}, Water: {total[1]}, Food: {total[2]}')
max_con = np.max(arr)
r_index,c_index = np.where(arr == max_con)

print(f'Highest consumption in a month: {c_index[0]} ({max_con} in the month {r_index[0]})')

Total resources needed (tons): Oxygen: 148, Water: 173, Food: 75
Highest consumption in a month: 1 (46 in the month 2)