In [36]:
import pandas as pd
data = {
    'Employee': ['Alice', 'Bob', 'Charlie', 'David', 'Emma', 'Frank', 'Grace', 'Hannah'],
    'Department': ['HR', 'IT', 'IT', 'HR', 'Finance', 'Finance', 'IT', 'HR'],
    'Age': [25, 32, 29, 41, 37, 45, 26, 38],
    'Salary': [50000, 70000, 65000, 80000, 75000, 90000, 62000, 85000],
    'Experience': [2, 7, 5, 15, 10, 20, 3, 12]
}

df = pd.DataFrame(data)
avg_salary = df.groupby('Department')['Salary'].mean()
print(f' The average salary of employees in each department:\n {avg_salary}\n')
high_salary = df.groupby('Department')['Salary'].max()
print(f'The Highest paid employee in each department:\n {high_salary}\n')
emp=df[(df['Experience']>5) & (df['Salary']>65000)]
print(f'Employees having more than 5 years of experience and earn a salary above $65,000 are\n {emp}')
sort_it = df[(df['Department'] == 'IT')]
sort_it

 The average salary of employees in each department:
 Department
Finance    82500.000000
HR         71666.666667
IT         65666.666667
Name: Salary, dtype: float64

The Highest paid employee in each department:
 Department
Finance    90000
HR         85000
IT         70000
Name: Salary, dtype: int64

Employees having more than 5 years of experience and earn a salary above $65,000 are
   Employee Department  Age  Salary  Experience
1      Bob         IT   32   70000           7
3    David         HR   41   80000          15
4     Emma    Finance   37   75000          10
5    Frank    Finance   45   90000          20
7   Hannah         HR   38   85000          12

  Employee Department  Age  Salary  Experience
1      Bob         IT   32   70000           7
2  Charlie         IT   29   65000           5
6    Grace         IT   26   62000           3